.aside-container,
.main-container {
  border-radius: 0.75rem;
}

.aside-container {
  background-image: url(../img/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  & .title-container {
    padding: 2rem;

    & img {
      width: 2.8125rem;
      height: auto;
      margin-bottom: 1rem;
    }

    & .title {
      font: var(--text-logo);
      color: var(--pink);
    }

    & p {
      font: 300 1rem/1.5 var(--font-body);
    }
  }
}

.main-container {
  background-color: var(--shape-body);
}

.form-container {
  margin: 3rem auto;
  max-width: 560px;
  /*padding: 1rem;*/
}
