* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden; /* evita rolagem da página */
  font: var(--text-md);
  color: var(--text-secondary);
  background-color: var(--shape-background);
  color: var(--text-color-body);
}

img {
  max-width: 100%;
  height: auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-no-gap {
  display: flex;
  flex-wrap: wrap;
  gap: 0;
}
