.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  gap: 0.75rem;
  border: none;
  padding: 0;
}

.color-grid {
  height: 40px;
  background-color: aliceblue;

  img {
    height: 100%;
    width: 100%;
  }
}
