.switch-button {
  width: 4rem;
  height: 2rem;
}

.theme-switch label {
  display: flex;
}

.switch-button {
  background-color: var(--input-base);
  border-radius: 1rem;
  border: 1px solid var(--input-stroke);
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.switch-option {
  background-color: var(--input-stroke);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.theme {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  & .light {
    display: none;
  }
}
